.block {
    display: block;
}

.flex {
    display: flex;
}

.justify-self-start {
    justify-self: flex-start;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}