.text-sm {
    font-size: .9rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 2rem;
}

.text-2xl {
    font-size: 2.5rem;
}

.text-3xl {
    font-size: 3rem;
}

.text-4xl {
    font-size: 2.5rem;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

@media (min-width: $md) {
    .md\:text-2xl {
        font-size: 2.5rem;
    }

    .md\:text-3xl {
        font-size: 3rem;
    }

    .md\:text-4xl {
        font-size: 3.5rem;
    }

    .md\:text-5xl {
        font-size: 4rem;
    }

    .md\:text-center {
        text-align: center;
    }
}