.site-header {
    padding: calc(#{$space} / 2) $space;
}

.site-header .container, .site-branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-logo-link {
    margin-right: 1rem;
}