.container {
	max-width: $size__container;
	margin-left: auto;
	margin-right: auto;
}

.tribe-events .datepicker .month.active, 
.tribe-events .datepicker .day.active,
.tribe-events .datepicker .month.active.focused {
	background: var(--primary-colour);
}

.tribe-common .tribe-common-c-btn, 
.tribe-common .tribe-common-c-btn:focus,
.tribe-events .tribe-events-c-view-selector__button:before, 
.tribe-events .tribe-events-c-ical__link:hover,
.tribe-events .tribe-events-c-ical__link:active,
.tribe-events .tribe-events-c-ical__link:focus {
	background-color: var(--primary-colour);
}

.tribe-common .tribe-common-c-svgicon,
.tribe-events-cal-links .tribe-events-gcal,
.tribe-events-cal-links .tribe-events-ical,
.tribe-events .tribe-events-c-ical__link, 
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
	color: var(--primary-colour);
}

.tribe-events .tribe-events-c-ical__link {
	border: 1px solid var(--primary-colour);
}

.tribe-common .tribe-common-c-btn:hover {
	background-color: var(--primary-colour);
	opacity: .8;
}

.wpdt-c[data-current='true'],
.wpdt-c[data-current='true'] + div {
	display: block;
}

.wpdt-c[data-current='false'],
.wpdt-c[data-current='false'] + div {
	display: none;
}

