.user-profile-info {

    img {
        border-radius: 100%;
    }
        
    @media (min-width: $md) {
        .description {
            max-width: 300px;
        }
    }

    .meta {
        max-width: 350px;
        margin-top: 2rem;
    }
}