.user-profile .container {
    display: grid;
    
    @media (min-width: $md) {
        grid-template-columns: max-content 1fr;
    }
}

.user-profile-photo {
    border-radius: 100%;
}

.user-profile-info {
    max-width: 350px;
    
    & > *:not(:last-of-type) {
        margin-bottom: calc(#{$space} / 3);
    }

    .description {
        max-width: 330px;
    }
}