button,
.modal__btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: #FFF;
	line-height: 1;
	padding: .75rem 2rem;
	@extend .font-bold;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

button, 
input[type="submit"] {
	will-change: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;

	&:hover {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		cursor: pointer;
	}
}