button,
.modal__btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--primary-colour);
	border-radius: 3px;
	background: var(--primary-colour);
	color: #FFF;
	line-height: 1;
	padding: .5rem 1.5rem;
	@extend .font-bold;
}

button, 
input[type="submit"] {
	font-size: 14px;
	opacity: 1;
	transition: -webkit-opacity .25s ease-out;
	transition: opacity .25s ease-out;
	transition: opacity .25s ease-out,-webkit-opacity .25s ease-out;

	&:hover {
		opacity: .7;
		cursor: pointer;
	}
}

.profile-card button {
	@extend .cardText, .font-medium;	
	padding: .5rem 1.5rem;	


	&:first-of-type {
		background: transparent !important;
		color: var(--primary-colour) !important;
		border: 2px solid var(--primary-colour);
	}
}

.wpdt-c button {
	color: #FFF !important;
}

button.inverse {
	background-color: var(--secondary-colour);
	color: var(--primary-colour);
}