.card {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.006),
    0 6.7px 5.3px rgba(0, 0, 0, 0.008),
    0 12.5px 10px rgba(0, 0, 0, 0.01),
    0 22.3px 17.9px rgba(0, 0, 0, 0.012),
    0 41.8px 33.4px rgba(0, 0, 0, 0.014),
    0 100px 80px rgba(0, 0, 0, 0.02)
    ;
    border-radius: 10px;
    color: $color__text-title;
    background-color: #FFF;

    img {
        height: 150px;
    }

    a {
        text-decoration: none
    }
}

.cardData {
    @extend .text-xl, .md\:text-4xl, .font-bold;
}

.cardText {
    display: inline-block;
    border-radius: 20px;
    background-color: var(--primary-colour);
    padding: calc(#{$space} / 4 ) $space;
    @extend .capitalize, .text-sm, .font-bold;
    color: #FFF;
}

.school-dashboard-cards.coloured-bg {
    background-color: var(--primary-colour);
    color: #FFF;

    a {
        color: currentColor
    }
}