.card {
    @extend .text-center, .py-space-2;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 10px;
    background-color: #FFF;
}

.cardValue {
    @extend .text-xl, .font-black, .md\:text-4xl;
}

.cardText {
    @extend .capitalize;
}